<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Website{% if page.title-after %} · {{ page.title-after }}{% endif %}</title>
  <!-- custom css -->
  <link rel="stylesheet" href="css/main.css">
</head>
<body data-tilt data-tilt-reverse="true" data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500">
  <div class="background background--blend"></div>
  <div class="background background--color"></div>
  <div class="container">
    {{ content }}
  </div>
  <!-- custom js -->
  <script src="js/vanilla-tilt.js"></script>
  <script src="js/main.js" defer></script>
</body>
</html>
